Source: ros-lyrical-ros-testing
Section: misc
Priority: optional
Maintainer: Dharini Dutia <dharini@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-lyrical-ament-cmake, ros-lyrical-ament-cmake-core, ros-lyrical-ament-cmake-export-dependencies, ros-lyrical-ros-workspace
Homepage: https://index.ros.org/p/ros_testing/#lyrical
Standards-Version: 3.9.2

Package: ros-lyrical-ros-testing
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lyrical-launch-testing, ros-lyrical-launch-testing-ament-cmake, ros-lyrical-launch-testing-ros, ros-lyrical-ros2test, ros-lyrical-ros-workspace
Description: The entry point package to launch testing in ROS.
