Source: ros-lyrical-ros2test
Section: misc
Priority: optional
Maintainer: Dharini Dutia <dharini@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), python3-pytest <!nocheck>, ros-lyrical-ament-copyright <!nocheck>, ros-lyrical-ament-flake8 <!nocheck>, ros-lyrical-ament-pep257 <!nocheck>, ros-lyrical-ament-xmllint <!nocheck>, ros-lyrical-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: https://index.ros.org/p/ros2test/#lyrical
Standards-Version: 3.9.2

Package: ros-lyrical-ros2test
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-lyrical-domain-coordinator, ros-lyrical-launch, ros-lyrical-launch-ros, ros-lyrical-launch-testing, ros-lyrical-launch-testing-ros, ros-lyrical-ros2cli, ros-lyrical-ros-workspace
Description: The test command for ROS 2 launch tests.
